p{
  color: #8479a1;

}
body{
  background: #e7d5f9;
}
h1{font-family: 'Dawning of a New Day', cursive;
font-family: 'Lobster', cursive;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Pattaya', sans-serif;
}
h3{color: #87479d
  font-family: 'Dawning of a New Day', cursive;
font-family: 'Lobster', cursive;
font-family: 'Open Sans Condensed', sans-serif;
}
h4{color: #2a004a
  font-family: 'Dawning of a New Day', cursive;
  font-family: 'Lobster', cursive;
  font-family: 'Open Sans Condensed', sans-serif;
  font-family: 'Pacifico', cursive;
  font-family: 'Pattaya', sans-serif;
}
