html, body{
  height: 100%;
  margin: 0;
  }



  /* aqui puse mi baner */
  .image-fondo {
      background-image: url("../imagenes/vistaexteriorportada.jpg");
      background-size: cover;
  }
  .cabecera{
    color: #fff;
    height: 500px;
    line-height: 300px;
    text-align: center;
    vertical-align: middle;
    text-shadow: #111 0px 0px 10px;
  }



    button{
      margin: 30px;
      background-color: red;
    }

    /* contenedor de los botones superiores */
      .botoninicio{
        margin: 5px;
        background-color: white;
      }


    /* botones superiores */
    .btninicio{
      margin: 30px 50px 30px 30px;
      background-color: pink;
      width: 120px;
      height: 45px;
      border-style: solid;
      border-color: pink;
    }

/* botones inferiores */
.btnn1{
  margin: 0 30px 0 30px;
  background-color: grey;
  width: 120px;
  height: 45px;
  border-style: solid;
  border-color: grey;
}
.btnn2{
  margin: 0 30px 0 30px;
  background-color: grey;
  width: 120px;
  height: 45px;
  border-style: solid;
  border-color: grey;
}
.btnn3{
  margin: 0 30px 0 30px;
  background-color: grey;
  width: 120px;
  height: 45px;
  border-style: solid;
  border-color: grey;
}



    h1{
font-family: 'Staatliches', cursive;
font-size: 65px;
    }
    h2{
    font-family: 'Julius Sans One', sans-serif;
      color: #43312d;
      font-size: 35px
  }
  h3{
    font-family: 'Julius Sans One', sans-serif;
      color: #43312d;
      font-size: 12px;
  }

    h4{
      font-family: 'BenchNine', sans-serif;
      color: #43312d;
    }
    p{
      font-family: 'Big Shoulders Text', cursive;
      font-size: 25px;
    }

/* propiedades del cuadro de descripcion  */
  .descripcion{
  background: white;
  height: 750px;
  padding: 15px;
  /*para que me quede centrado y sin nada al lado*/
  display: flex;
  justify-content: center;
  align-items: center;
}

  .textodescripcion{
  background: white;
  width: 40%;
  border-style: solid;
  border-color: white;
}

/* linea */
hr {
  height: 1px;
  width: 70%;
  background-color: gray;
}



/* trio de cajas */
.padrecontenedor2{
  background: white;
  height: 750px;
  padding: 15px;
  /*para que me quede centrado y sin nada al lado*/
  display: flex;
  justify-content: center;
  align-items: center;

}

.contenedor2{
    content: "";
    display: table;
    clear: both;
background: white;
width: 70%;
height: 450px;
border-style: solid;
border-color: white;

display: flex;
 justify-content: space-between;
}

.analisis1{
  background-color: white;
  padding: 10px;
  margin: 10px;
  width: 30%;
  border-style: solid;
  border-color: gray;
  border-width: 2px;
  float: left;
}

.analisis2{
  background-color: white;
  padding: 10px;
  margin: 10px;
  width: 30%;
  border-style: solid;
  border-color: gray;
  border-width: 2px;
  display: inline-block;
}

.analisis3{
  background-color: white;
  padding: 10px;
  margin: 10px;
  width: 30%;
  border-style: solid;
  border-color: gray;
  border-width: 2px;
  float: right;
}

/* pie de la pagina web con mis datos */
.misdatos{

    height: 210px;
    border-style: solid;
    border-width: 5px;
    border-color: #e4e9ec;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-size: cover;
    background-color: #e4e9ec;
}
